 /* Reset
* @based: Eric Meyer
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
abbr, article, aside, audio, bb, canvas, datagrid, 
datalist, details, dialog, eventsource, figure, footer,
header, hgroup, mark, menu, meter, nav, output,
progress, section, time, video {
	background: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family:Tahoma, Geneva, sans-serif;
	color: #4A4A4A;
}

p, td, th, span, div, li, label, input {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: 
	#4A4A4A;
}

h1, h2, h3, h4, h5, h6{
	font-family:PlatformRegular, Helvetica, sans-serif;
	font-weight:normal;
}

ol, ul, menu {
	list-style: none;
  margin:12px;
  padding:0;
}


blockquote, q {
	quotes: none;
}

blockquote: before, 
blockquote: after,
q: before, q: after {
	content: '';
	content: none;
}

/* ---- Reset Personal ------ */

.ps-g1-5, .ps-g2-5, .ps-g3-5, .ps-g4-5, .ps-g5-5, .ps-g1-10, .ps-g3-10, .ps-g5-10, .ps-g7-10, .ps-g9-10 {
  float: left;
  vertical-align:top;
}


/* CLEAR, ALIGN, HIDDEN*/

.clear{
  clear:both;
}

.right{
  float: right;
}

.left{
  float: left;
}

.o{
  display: none;
}

/*----------FUENTES-----------*/

@font-face {
font-family: 'PlatformRegular';
src: url('../css/fonts/Platform-Regular.eot?') format('eot'),
 url('../css/fonts/Platform-Regular.woff') format('woff'),
 url('../css/fonts/Platform-Regular.ttf') format('truetype');
 url('../css/fonts/PlatformRegular.svg#svgFontName') format('svg');
}

@font-face {
font-family: 'PlatformLight';
src: url('../css/fonts/Platform-Light.eot?') format('eot'),
 url('../css/fonts/Platform-Light.woff') format('woff'),
 url('../css/fonts/Platform-Light.ttf') format('truetype');
 url('../css/fonts/PlatformLight.svg#svgFontName') format('svg');
}

@font-face {
font-family: 'PlatformMedium';
src: url('../css/fonts/Platform-Medium.eot?') format('eot'),
 url('../css/fonts/Platform-Medium.woff') format('woff'),
 url('../css/fonts/Platform-Medium.ttf') format('truetype');
 url('../css/fonts/PlatformMedium.svg#svgFontName') format('svg');
}

@font-face {
font-family: 'PlatformBold';
src: url('../css/fonts/Platform-Bold.eot?') format('eot'),
 url('../css/fonts/Platform-Bold.woff') format('woff'),
 url('../css/fonts/Platform-Bold.ttf') format('truetype');
 url('../css/fonts/PlatformBold.svg#svgFontName') format('svg');
}



/*-- BODY --*/

body{
	width:960px;
	margin:0 auto;
}

/*----------- LAYOUT GENERAL -------------*/

/* Grillas */

.ps-g1-5{
  width:192px; /* 20% */
}

.ps-g2-5{
  width:384px; /* 40% */
}

.ps-g3-5{
  width:576px; /* 60% */
}

.ps-g4-5{
  width:768px; /* 80% */
}

.ps-g5-5{
  width:960px; /* 100% */
}


/* -- */

.ps-g1-10{
  width:96px; /* 10% */
}

.ps-g3-10{
  width:288px; /* 30% */
}

.ps-g5-10{
  width:480px; /* 50% */
}

.ps-g7-10{
  width:672px; /* 70% */
}

.ps-g9-10{
  width:864px; /* 80% */
}


/* Columnas */

.col-right{
  margin-left:5px;
}

.col-left{
  margin-right:5px;
}

.col-center{
  margin-left:5px;
  margin-right:5px;
}

.col-left-240px{
 width:240px;  
 float:left;
}

.col-est{
    padding-top:8px
}



/* Header */

.header{
  height:105px;
  background-color:#10B5D3;
}



/* Menú Principal */

ul.menu-principal{
  list-style:none;
  margin:1px;
  margin-top:79px;
  width:958px;
  height:25px;
  background-color: #fff;
}

.ie7 ul.menu-principal li{
  display:inline;  
}

ul.menu-principal li a{
  display: block;
  float: left;
  color: #4A4A4A;
  text-decoration:none;
  padding: 5px 10px 5px 10px;
  margin:1px 7px;
}

ul.menu-principal li a:hover{
  background-color: #efefef;
}                



/* Menu Secundario */

.menu-secundario{
  float: right !important;
  width: 562px;
  background-color: #eee;
  border: 1px solid #d7d7d7;
  margin: 0px auto;
}

.menu-secundario ul{
  margin: 0px;
  padding: 0px;
  z-index: 999;
  color: #DDD;
}

.menu-secundario ul li{
  float: left;
  display: block;
  margin: 0px auto;
  padding: 0px 0px 0px 1px;
  position: relative !important;
}

.menu-secundario ul li a:link, .menu-secundario ul li a:visited{
  height: 22px;
  text-decoration: none;
  font-size: 11px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: lighter;
  color: #666;
  padding: 7px 5px 0px 5px;
  display: block;
}

.menu-secundario ul li a:hover, .menu-secundario ul li a.active{
  background-color: #fefefe;
}

.menu-secundario ul li a.selected{
  background-color: #fefefe;
}



/* Login */

.box-login{
  min-height:340px;
  margin-top:10px;
  background-color: #E7E7E7;
  border:1px solid #ccc;
}

.box-login h4, .box-nologin h4{
  color:#10B5D3;
  font-size:14px;
  padding: 7px 5px 4px 5px;
  background-color: #eee;
  border-bottom:1px solid #10B5D3;
}

.ie7 .box-login h4, .box-nologin h4{
	padding-bottom:7px;
}

.box-login h4 a{
  background-image: url(../images/ico_cerrarSesion.gif);
  background-position:0 6px;
  background-repeat:no-repeat;
  color: #666;
  font-family:Tahoma, Geneva, sans-serif;
  font-size:11px;
  text-decoration:none;
  float:right;
  padding:2px 0 0 10px;
}

.ie7 .box-login h4 a{
	float:none;
	margin-left:25px;
}

.nombre-login{
  font-weight: bold;
  color: #666;
  font-size: 12px;
  text-align:center;
  margin-top:10px;
  padding:0 7px;
}

.linea-login {
  padding:0 7px;
  margin-top:10px;
}

.linea-login div{
width:50%;
float:left;
}

.linea-login span{
  background-image: url(../images/bullet.png);
  background-position-y:4px;
  background-repeat:no-repeat;
  padding-left:10px;
  color:#4A4A4A;
}

.linea-login a{
  color:#FF428D;
  margin-left:10px;
}

.linea-login a:hover{
  text-decoration: none;
}

/* box no log */

div.form-login{
  padding:5px 5px 5px 10px;
}

div.form-login label{
  color:#666;
  min-width:0px;
  font-size:10px;
}

.ie8 div.form-login label{
	min-width:7px;
}

div.form-login input{
  margin-left:3px;
}

div.form-login input.small-i{
  width:95px;
}

.ie8 div.form-login input.small-i{
  width:90px;
}

.ie7 div.form-login input.small-i{
  width:90px;
}

div.form-login a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color:#f287b7;
  padding: 1px 5px 0px 5px;
  line-height: 1.7;
  font-size: 15px;
  font-family: arial;
}

div.sie-form-p{
	color:#00639E;
	text-align:left;
}
.ie8 div.form-login a{
  line-height:1.2;
}

.ie7 div.form-login a{
  line-height:1.2;
}


div.form-login input.botoncyan-a{
  margin-left:0 !important;
  margin-top:10px;
}

.box-nologin{
  min-height:340px;
  margin-top:10px;
  border:1px solid #ccc;
}

label.login{
  width:170px;
  display: block;
  float: left;
  height:15px;
  margin-top:10px;
}

.ie7 label.login{
  width:175px;
}

input.area-l{
  width:30px;
  margin-right:10px;
}

input.clave{
  margin-left:0!important;
  width:130px;
  margin-right:16px;
}

.ie7 input.clave{
  margin-right:15px;
  width:127px;
}

.ie8 input.clave{
  margin-right:12px;
}

.box-nologin .log-captcha{
  float: left;
  margin-bottom:10px;
}

.box-nologin .log-captcha input{
  width:90px;
  margin-top:5px;
  text-transform:uppercase;
}

.box-nologin .log-captcha a{
  display:block;
  margin-top:3px;
  color:#0FACC8;
  width: 70px;
  float: left;
}

.box-nologin .log-captcha a:hover{
  text-decoration:none;
}

.box-nologin .log-mail{
  margin-bottom:15px;
}

.box-nologin .log-mail a{
  color: #FF428D;
}

.box-nologin .log-mail a:hover{
  text-decoration:none;
}

.box-nologin .faq-log, .log-mail, .verificando{
  min-height:25px;
}

.box-nologin a.faq-clave, .box-nologin a.faq-ingresar{
  display: block;
  width: 85px;
  float: left;
  color:#999;
}

.ie8 .box-nologin a.faq-clave, .box-nologin a.faq-ingresar
{
	width:84px;
}

.log-mail, .faq-log, .acceso-seg, .log-captcha, .verificando {
  margin:10px 0 0 10px;
}

.box-nologin a.faq-ingresar{
  float: right;
  margin-right:5px;
}

.box-nologin a:hover.faq-clave, .box-nologin a:hover.faq-ingresar{
  text-decoration:none;
}

h5.acceso-seguro{
  background-image: url(../images/ico_candado.gif);
  color:#999;
  padding-left: 15px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height:15px;
  line-height:2;
  font-family:Arial, Helvetica, sans-serif;
}

.ie7 h5.acceso-seguro{
  font-size:9px;
}

input.pc-publica{
  margin-top:2px;
  margin-left: 10px;
}

.ie7 input.pc-publica{
  margin-top:0px;
}



/* Teclado Virtual */

.teclado{
  padding:10px 18px;
}

.teclado ul{
  list-style:none;
}

.teclado ul li{
  display: inline-block;
}

.ie7 .teclado ul li{
  float: left;
}

.teclado ul li a{
  padding:4px 7px;
  color:#fff;
  text-decoration:none;
  display: block;
  height:14px;
  margin:3px 2px;
}

.ie7 .teclado ul li a{
  padding:4px 8px;
}

.teclado .botongris-a{
  margin-top:8px;
}



/* Verificando (Loading...) */

div.verificando{
  background-image: url(../images/ajax-loader.gif);
  background-repeat:no-repeat;
  background-position:center;
  background-position-y:top;
}

div.verificando p{
  text-align:center;
  color: #0FACC8;
  padding-top:20px;
}



/* Footer */

.footer{
  margin-bottom:20px;
  height:100px;
  clear:both;
  padding-top:15px;
  margin-top:20px;
  border-top:1px solid #B9B9B9;
}

.box-footer{
  margin-left:8px;
  width:120px;
  float: left;
}

.footer li{
  font-weight:bold;
  color:#858585;
  padding:2px 0;
}

.footer li a{
  text-decoration:none;
  color:#888;
  font-weight:normal;
  font-size:10px;
}

.footer li a:hover{
  text-decoration:underline;
}



/*-- LAYOUT 02 --*/

/* Head Contenido */
.page{
  min-height:480px;
  border:none;
  margin-top:10px;
  margin-right:5px;
  width:763px;
  float: left;
}

.head-page{
  width:100%;
  min-height:35px;
  float: left;
  margin-bottom:5px;
}



/* Cuerpo Contenido */

.content-page{
  width:762px;
  float: left;
  border-top:1px solid #eee;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
}

.content-page-dos{
  width:763px;
  float: left;
}

.cont-cent{
  min-height:480px;
  padding-left:202px;
  padding-right:10px;
  padding-top:5px;
}

.ie7 .cont-cent{
  *padding-left:0;
}



/*-- Sidebar Left --*/

.side-left{
  margin-right:10px;
}

.silver-box{
  background-color: #eee;
  min-height:480px;
  padding:6px 8px 10px 8px;
}


hr{
  border:none;
  border-bottom:1px solid #00639E;
  float:left;
  width:100%;
}


hr.line-gray{
  border-bottom:1px solid #ddd;
}


hr.line-gray-d{
  border-bottom:1px dashed #ccc;
  float:left;
  width:100%;
}

.ie7 hr.line-gray-d{
  border:none;
}

hr.line-gray-d2{
  border-bottom:1px dashed #ccc;
  margin-bottom:30px;
  float:left;
  width:100%;
}

.ie7 hr.line-gray-d2{
  border:none;
}

.hr-bl{
  border:none;
  border-bottom:1px solid #eeeeee;
  float:left;
  width:100%;
}

/*---------------TITULOS Y TEXTO------------------*/

/* Título de Página */
.titulo-pagina, .titulo-pagina a{
  font-family:PlatformRegular, Helvetica, sans-serif;
  color: #999;
  font-size:34px;
  line-height:0.8;
  width:190px;
  float: left;
  text-decoration:none;
}

.titulo-pagina a span{
  font-size:30px;
  color:#999;
}


.titulo-pagina span{
  font-size:30px;
  color:#999;
}


/* Título de Sección */
.titulo-seccion{
	color: #10B5D3;
	font-size:20px;
  padding-bottom:10px;
}

.titulo-seccion span{  /* Necesario solo para aplicaciones .NET */
  color: #10B5D3;
  font-size:20px;
  padding-bottom:10px;
  font-family:PlatformRegular, Helvetica, sans-serif;
}


/* Título de Contenido */
.titulo-contenido{
	color:#00639E;
	font-size:20px;
	text-align:left;
}

/* Título de Contenido blacklist*/
.titulo-contenido-bl{
	color:#00639E;
	font-size:22px;
	text-align:left;
	font-family:PlatformRegular, Helvetica, sans-serif;
}

.titulo-contenido span{
	color:#00639E;
	font-size:20px;
	text-align:left;
	font-family:PlatformRegular, Helvetica, sans-serif;
}


/* Subtítulo de Contenido */
.subtitulo-contenido{															
  color: #00639E;
  font-weight: bold;
  margin-bottom: 4px;
  font-family: Tahoma, Geneva, sans-serif;
  float:left;
  width:100%;
}

.subtitulo-contenido-n{															
  color: #00639E;
  font-weight:lighter;
  margin-bottom: 4px;
  font-family: Tahoma, Geneva, sans-serif;
  float:left;
  width:100%;
}

.subtitulo-contenido-bl
{
    color: #2f2f2f;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 4px;
    font-family: Tahoma, Geneva, sans-serif;
    float: left;
    width: 100%;
}

.medio
{
	margin-top:20px;
}

.subtitulo-contenido span{
  color: #00639E;
}

span.subtitulo-dinamico
{
	float:none;
}


/* Datos Input Fijos */

.input-label{
  font-weight: bold;
  line-height: 2.1;
}


/* Información de Página de Error */
.info-error{
  font-size:15px;
}

/* texto bases y Condiciones */
p.bases{
  margin-top:30px;
}

/* Uilizado para una sola descripción o la última, si se muestran varias */
p.descripcion{
  margin-bottom:30px;
  font-size: 14px;
}

/* Utilizado para separar descripciones cortas en un página */
p.descripcion-s, span.descripcion-s{
  margin-bottom:10px;
    font-size: 14px;
}

/* Texto cyan*/
.txt-cyan{
    color: #10B5D3;
 }


/*------- ENLACES ------------*/
a.linkcyan{
  color: #10B5D3;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a.linkcyan:hover{
  text-decoration:underline;
}

a.linkcyan-u{
  color: #10B5D3;
  font-weight: bold;
  cursor: pointer;
  text-decoration:underline;
}

a.linkcyan-u:hover{
  text-decoration:none;
}

a.linkmagenta-u{
  color: #FF428D;
  font-weight: bold;
  cursor: pointer;
  text-decoration:underline;
}

a.linkmagenta-u:hover{
  text-decoration:none;
}

a.linkimage{
  color: #10B5D3;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-decoration:underline;
  padding-left:18px;
}

a.linkimage:hover{
  text-decoration:none;
}

a.accion-delete
{	
	background-image:url(../images/btn_eliminar.png);
	background-repeat:no-repeat;
	height:14px;
	display:inline-block;
}
a.accion-detail
{	
	background-image:url(../images/img_lupa.png);
	background-repeat:no-repeat;
	height:17px;
	display:inline-block;
}

/*------ IFRAMES -------*/

iframe#frameSocialNetwork{
  margin:10px 0 0 5px;
}

.ayuda-login{
  margin-top:20px;
  padding:0 10px;
}




/*!
 * jQuery UI Accordion 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */

.ui-accordion { width: 100%; }

.ui-accordion .ui-accordion-header { 
  cursor: pointer; 
  position: relative; 
  zoom: 1;
  background-color:white;
  margin-bottom:3px;
  padding:5px 5px;
  border:2px solid #D7D7D7;
  background-image:url(../images/bullet.png);
  background-repeat:no-repeat;
  background-position: -57px 0;
  background-position-y:5px;
}

.ui-accordion-header:hover{
  background-image:url(../images/bulletBotonera_.gif);
  background-position: -225px 0;
}


.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { 
  display: block; 
  font-size: 1em; 
}

.ui-accordion-icons .ui-accordion-header a { 
  text-decoration:none;
  font-family:Tahoma, Geneva, sans-serif;
  font-weight:bold;
  font-size:11px;
  color:#999;

}
.ui-accordion .ui-accordion-header .ui-icon { 
  position: absolute; 
  left: .5em; top: 50%; 
  margin-top: -3px; 
}

.ui-accordion .ui-accordion-content { 
  border-top: 0; 
  margin-top: -6px; 
  position: relative; 
  top: 1px; 
  margin-bottom: 4px; 
  overflow: auto; 
  display: none; 
  zoom: 1; 
  background-color:whiteSmoke;
  border:2px solid #D7D7D7;
  border-bottom:1px solid #D7D7D7;
  border-top:1px solid #D7D7D7;
  overflow:hidden !important;
}

.ui-accordion-content li{
  border-bottom:1px solid #D7D7D7;
  padding:3px 5px 3px 15px;
  background-image:url(../images/bulletBotonera2.gif);
  background-position: -114px 0;
  background-repeat:no-repeat;
  background-position-y:15px;
}

.ui-accordion-content li a{
  text-decoration:none;
  color:#999;
}

.ui-accordion-content li a:hover{
  color:#666;
}

.ui-accordion .ui-accordion-content-active { display: block; }

.ui-state-active{
  background-image:url(../images/bulletBotonera_.gif)!important;
  background-position:-225px 0;
  border-bottom:1px solid #D7D7D7 !important;
}

.ui-state-active a{
  color:#10B5D3 !important; 
}


/* Formularios */

/*-- formulario para buscar datos --*/

.cuenta-mail, .select-cuenta-mail, .boton-cuenta-mail{
  width: 550px;
  float: left;
  margin-bottom:5px;
}
.cuenta-mail-azul label, span, samp
{
    color: #00639E;
    }
.select-cuenta-mail input.standar-i
{
	width:100px;
}

.cuenta-mail label, .cuenta-mail p{
  display: inline-block;
  font-weight: bold;
}

.boton-izq-filtro
{
	width:227px;
	height:25px;
	float:right;
}
.combo-filtro-derecha
{
  float: right;
  margin-bottom:10px;
  margin-right:68px;
  margin-top: 2px;
}

.boton-centrado-1 
{
    margin-right: 10px !important;
}

.botones-centrados
{
    float: left;
    margin-bottom:0px;
    margin-left:70px;
}

.boton-izq-filtro input
{
	float:left !important;
}

.cuenta-mail label{
  width: 226px;
}
.ie7 .cuenta-mail label
{
	float:left;
}

.cuenta-mail p{
  width: 90px;
}

.ie7 .cuenta-mail p{
  float: left;
}

.select-cuenta-mail select, .select-cuenta-mail input{
  float: left;
  width:165px;
}

.select-cuenta-mail select{
  margin-right: 172px;
}

.input1{
  float:left !important;
}

.input2{
float:right;
margin-right:174px !important;
}
	

h4.title-form{
  font-size:20px;
  color: #10b5d3;
  margin: 2px 0 5px 0;
  padding-left:5px;
  line-height:20px;
}

/*-- formulario para buscar datos - TRES COLUMNAS --*/

.tres-top
{
	margin-top:20px;
}

.tres-line
{
	margin-left:40px;
	float:left;
}

.tres-col label
{
	width:155px;
	vertical-align:top;
}

.tres-coldos label
{
	width:187px;
	vertical-align:top;
}


.tres-col label.refpago
{
	width:110px;
}

.tres-coldos label.refpagodos
{
	width:110px;
	margin-left:40px;
}

.tres-col p
{
	width:50px;
	vertical-align:top;
	text-align:center;
}

.tres-col select
{
	margin-right:0px !important;
}

.tres-col label.labelInput-s
{
	width:15px !important;
}

.area-tres
{
	width:30px !important;
	margin-right:3px !important;
}

.ref-tres
{
	width:100px !important;
	margin-left:48px !important;
}

.ie7 .ref-tres
{
	width:100px !important;
	margin-left:20px !important;
}

input.trescol-botuno
{
	margin-left:205px;
}

.ie7 input.trescol-botuno
{
	margin-left:190px;
}

input.trescol-botdos
{
	margin-left:132px;
}

.ie7 input.trescol-botdos
{
	margin-left:110px;
}

/* Contenedor de elementos form */

div.line-form{
    min-height:19px;
    width:100%;
    float:left;
}

div.line-form-l{
	min-height:19px;
    width:100%;
    float:left;
	border-bottom:1px solid #ddd;
	margin-top:2px;
}

.funo
{
	padding:5px 0;
	overflow:hidden;
}

.fdos{
  padding:10px 0;
}

.ftres{
  padding:5px 0 5px 160px;
  width: 390px !important;
}

.fcuatro{
  padding:10px 0 5px 0px;
}

.fright
{
    float:right;
    }

.fleft
{
    float:left;
    }

.flabels
{
	padding:5px 0;
}


/* Label */

label.labelInput-el{
    width:300px;
    float: left;
    font-size:11px;
    line-height: 2.1;
}

label.labelInput-m
{
	width:200px;
    float: left;
    font-size:11px;
    line-height: 2.1;
}	

label.labelInput-l, span.labelInput-l{
    width:160px;
    float: left;
    font-size:11px;
    line-height: 2.1;
}

label.labelInput-s{
    float: left;
    font-size:11px;
    line-height: 2.1;
    min-width:15px;
}

label.fecha{
  padding-left: 10px;
}


label.info-adicional{
  float:left;
  line-height:2;
  margin-left:5px;

}

.label-dos
{
	margin-left:20px;
}

.labelcyan
{
	color:#10B5D3;
}
.labelmagenta
{
	color: #FF428D !important;
	font-weight:bold;
}

/* Input Text */
input.input-text, textarea {
    font-size: 11px;
    background: white;
    display: block;
    float: left;
    margin-right:5px;
    padding-left:3px;
}


/* Input Submit */

input.bot-input{
  float: right;
  margin-top:2px;
  *float:both; /* IE7 */
  
}

/* Radio Buttons */

.radio-form{
    margin:0px 5px;
}

/* Check Box Buttons */

.check-form{
    margin:0px 5px;
}

/* Opciones de ancho de elementos */

/* Inputs */

.area-i{
    width:40px !important;
    margin-right:26px !important;
}

.extra-small-i{
  width: 25px;
}

.extra-small-2-i{
  width: 30px;
}


.small-i{
  width:51px;
}

.small-2-i{
  width:75px;
}

.estandar-i{
    width:120px;
}

.medium-i{
    width:175px;
}

.large-i{
    width:225px;
}


/* Selects */


.small-s{
    width:51px;
    float: left;
}

.estandar-s{
    width:126px;
    float: left;
}

.medium-s{
    width:176px;
    float: left;
}

.large-s{
    width:226px;
    float: left;
}


/*-- BOTONES --*/

/* Boton "A" Cyan */
.botoncyan-a{
  border-top: none !important;
  height: 23px;
  color:#fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #E0E0E0;
  font-weight: bold;
  padding: 2px 7px;
  background-image: url(../images/btn_generico_bckg.jpg);
  background-repeat: repeat-x;
  cursor: pointer;
  margin:0;
}
/* Boton "A" Cyan */
.disabled{  
  cursor: not-allowed;
  opacity: 0.4;
  filter: alpha(opacity=40); 
}

.ie7 .botoncyan-a
{
	font-weight:normal;
	padding:0;
}

/* Boton "A" Gris */
.botongris-a{
  border: none;
  height: 23px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #E0E0E0;
  color: #666;
  font-weight: bold;
  padding: 2px 7px;
  background-image: url(../images/btn_gris_bckg.jpg);
  background-repeat: repeat-x;
  cursor: pointer;
  margin:0;
  min-width:55px;
}

.ie7 .botongris-a{
	float:left;
	min-width:auto;
}


/* Boton Ayuda */
.boton-ayuda
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: #F287B7;
	padding: 1px 7px 0px 7px;
	line-height: 1.7;
	font-size: 13px;
	font-family: arial;	
	border:none !important;
	cursor:pointer;
}

.boton-ayuda-r
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: #F287B7;
	padding: 1px 7px 0px 7px;
	line-height: 1.7;
	font-size: 13px;
	font-family: arial;	
	border:none !important;
	cursor:pointer;
	float:right;
}

.ie7 .boton-ayuda-r
{
	margin-top:-24px;
	line-height: 1.3;
}



/*-- MENSAJES --*/

/* Mensaje de Advertencia (Warning) */
.alerts{
  font-size:12px;
  float: left;
  background-color:#f0c308;
  background-image:url(../images/warning.png);
  background-repeat:no-repeat;
  background-position:15px;
  padding:30px;
  padding-left: 45px;
  color: #000;
}

.alerts h4{
  font-family:Tahoma, Geneva, sans-serif;
  color:#000;
}

.a-grid
{
	float:none !important;
	margin-bottom:15px;
}


/* Mensaje de Error */
.error
{
	color:#fff;
  font-size:12px;
  float: left;
  background-color:#d9196e;
  background-image:url(../images/error.png);
  background-repeat:no-repeat;
  background-position:15px;
  padding: 40px 10px 40px 40px;
  width: 500px;
  text-align:left;
}

.error-l
{
	color:#fff;
  font-size:12px;
  float: left;
  background-color:#d9196e;
  background-image:url(../images/error.png);
  background-repeat:no-repeat;
  background-position:15px;
  padding: 40px 0 40px 40px;
  width: 723px;
  text-align:left;
}

.error h4{
  font-family:Tahoma, Geneva, sans-serif;
  color:#820000;
}



/* Mensaje de Información */
.info{
  font-size:12px;
  float: left;
  background-color:#e7e7e7;
  border:2px solid #10b5d3;
  background-image:url(../images/info.png);
  background-repeat:no-repeat;
  background-position:15px;
  padding:20px 40px;
  min-width:466px;
}

.info-large
{
	width:680px;
}

.info h4{
  font-family:Tahoma, Geneva, sans-serif;
  color:#00417D;
}



/* Mensaje de Validación */
span.validator, div.validator{
  color: #d80000;
  float: left;
  background-color:#ffe9e9;
  padding:4px 4px 5px 4px;
}

span.validator-login, div.validator-login{
  color: #d80000;
  float: left;
  background-color:#ffe9e9;
  padding:4px 4px 5px 4px;
  margin-top:10px;
  clear:both;
  margin-left:160px;
}

/*------ PopUp ------*/
.titulo-modal{
    font-size:19px;
}
.txt-13px{
    font-size:13px;
}

#mask{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#boxes .window{
  width:900px;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 9999;
    padding: 10px;
    background-color: #ffffff;    
}

#boxes .window-650px
{
    width: 650px;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 9999;
    padding: 10px;
    background-color: #ffffff;
}

#boxes .window-500px
{
    width: 500px;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 9999;
    padding: 10px;
    background-color: #ffffff;
}

/* Tablas */
table.tb-localizacion
{
	width:190px;
}
table.tb-page tr.tucho td
{
	line-height:1.3;
	padding-top: 5px;
	padding-bottom: 5px;
}


table.tb-page{
  width:551px;
}

table.tb-page-410
{
    width:410px;
    float:left;
    margin-left:10px;
    }
    
table.tb-page td, tr.head-grid th
{
	padding:6px 3px;
}

table.tb-page tr.datos td
{
	line-height:1.5;
	margin-top: 5px;
	margin-bottom: 5px;
}

table.tb-page tr td input
{
	border:none !important;
}

table.tb-page tr td input.border
{
	border: 1px solid #999 !important;
	padding-left: 3px;
}


table.table-modal{
	width:100%;
}

.title-table{
  font-weight:bold;
}

.title-grid{
	margin-bottom:10px;
}

tr.head-grid{
  background-color:#10B5D3;
}

tr.head-grid.bg-2{
  background-color:#888 !important;
  height:32px;
}


tr.head-grid-dl{
  background-color:#10B5D3;
}

tr.head-grid th{
  color :#fff;
}

.ie7 tr.head-grid th
{
	background-color:#10B5D3;
}

tr.head-grid-dl th{
  color:#fff;
}

tr.datos-2
{
    border-bottom:1px solid #ddd;
    }
    
tr.datos-2 td
{
    text-align:center;
    }
    
tr.datos-2 td a
{
    text-decoration:none;
    color:#00B4C5;
    }
tr.datos-2 td a:hover
{
    text-decoration:underline;
    }

tr.datos td{
  padding:0 5px;
  text-align:center;
  height:30px;
  vertical-align:middle;
  border-bottom:1px solid #ddd;
}

tr.datos-alt1 td{
  padding:0 1px;
  text-align:center;
  height:30px;
  vertical-align:middle;
  border-bottom:1px solid #ddd; 
}

tr.datos-alt10 td{
  padding:0 11px;
  text-align:center;
  height:30px;
  vertical-align:middle;
  border-bottom:1px solid #ddd; 
}

.great{
  font-weight:bold;
}

.great a{
	text-decoration:none;
}

div.footer-popup{
	float:right;
	font-weight:bold;
	margin:10px 10px 0 0;
}

input.close{
	border:none;
	position:absolute;
	background-image:url(../images/close.png);
	background-repeat:no-repeat;	
	right: 0px;
	top: -20px;
	width: 16px;
	height: 16px;
	border:none;
	cursor:pointer;
	background-color:transparent;
}

.content-scroll-grid{
	max-height:300px;
	overflow:auto;
	width: 100%;
}


.paginacion-tabla
{	
	width:100%;
	height:30px;
	padding-top:10px;
	float:left;
}

.tabla-contenido
{
	margin-top:5px;
	float:left;
}
.tabla-contenido-100
{
	width:100%;
	margin-top:10px;
	float:left;
}
.paginacion-tabla p
{	
	float:left;
	display:block;
}

.paginacion-tabla span	
{	
	display:block;
	float:left;
	font-weight:bold;
	margin-left:5px;
}

.paginacion-tabla a
{
	text-decoration: none;
	cursor: pointer;
	padding:0 7px;
	color:#7B7B7B;
	border-left:1px solid #7B7B7B;
}

.paginacion-tabla a:hover
{
	text-decoration:underline;
}

.paginacion-tabla a.first
{
	border:none !important;
}
	

/* Estilos Generales Adm Usuarios */

.tabs-user{
  width:100%;
  float: left;
  margin-bottom: 20px;
  margin-top: 10px;
}

.tabs-user ul{
  list-style:none;
  width:100%;
}

.tabs-user ul li{
  display: inline;
}

.tabs-user ul li a{
  display: block;
  padding: 8px;
  text-decoration:none;
  background-color: #DDD;
  float: left;
  margin-right:1px;
}

.tabs-user ul li a:hover{
  background-color:#ccc;
}

.tabs-user ul li a.activo{
  background-color: #0FACC8;
  color:#fff;
}

div.sie-form{ 
  width:100%;
  overflow:hidden;
}



div.sie-form input
{
	 border:1px solid #999;
	 margin:0;
     margin-left:3px;
}

    


div.sie-form input.close
{
	 border:none;
}

.sie-form p.p-form{
    margin-bottom:15px;
}

.sie-form p.text-form{
    font-size: 11px;
    line-height: 1.7;
}


/* Wizard Migracion */
.tabs-wizard{
  width:100%;
  float: left;
  margin-top:5px;
  margin-bottom:10px;  
}
.tabs-wizard ul{
  list-style:none;
  width:100%;
}
.tabs-wizard ul li{
  display: inline-block;
  font-family:PlatformRegular, Helvetica, Arial, Sans-Serif;
  padding: 5px 10px;
  border:1px solid #eee;
  float: left;
  margin-left:15px;
  width: 55px;
  text-align:center;
  font-size:14px;
  color: #858585;
}
.tabs-wizard ul li.activo{
  color:#10B5D3;  
}


/* Estilos Generales Home Logueada */

.home-log{
  padding-left:0 !important;
  padding-top:0 !important;
  padding-right:0 !important;
}

.cont-log-left{
  width:301px;
  float: left;
  margin-right:5px;
}

.cont-log-right{
  width:452px;
  float: left;
  margin-left:5px;
}

/* Boxes */

.box-log-g{
  float: left;
  border:1px solid #d7d7d7;
  background-color:#fff;
  min-height:50px;
  margin-bottom:10px;
}

.box-log-t{
  float: left;
  background-color:#fff;
  border:1px solid #fff;
  min-height:50px;
  margin-bottom:10px;
}

.medio-box-log-g{
  float: left;
  border:1px solid #d7d7d7;
  background-color:#fff;
  min-height:50px;
  margin-bottom:10px;
}

/* Alto-Ancho Boxes */

.box-height-1{
  min-height:95px;
}

.box-height-2{
  min-height:185px;
}

.box-height-3{
  min-height:185px;
}

.box-log-g.bleft, .box-log-t.bleft, .medio-box-log-g.bleft{
  width:299px;
}

.box-log-g.bright, .box-log-t.bright, .medio-box-log-g.bright{
  width:450px;
}

.medio-box-log-g.bright{
  width:219px;
}


/* Contenido Boxes */

h3.head-box-log{
  border-bottom: 1px solid #D7D7D7;
  background-color: #EEE;
  font-size: 14px;
  color: #10B5D3;
  padding: 3px 7px;
}

h3.head-box-log-t{
  font-size: 14px;
  color: #10B5D3;
  padding: 3px 7px;
}

.cont-box{
  padding:3px 7px;
}

.cont-box p{
  color:#666;
  font-size:14px;
  font-family:PlatformRegular, Helvetica, sans-serif;
}

.box-log-t a, .box-log-g a{
  text-decoration:none;
}

.box-log-t a h3, .box-log-g a h3{
  font-size: 16px;
  color: #10B5D3;
  font-weight:bold;
}

.box-log-t a p, .box-log-g a p{
  color:#666;
  font-size:14px;
  font-family:PlatformRegular, Helvetica, sans-serif;
}


/* 1° Box Izquierdo */

h3.box-1-l{
  margin-top:20px;
}

.box-log-t a img, .box-log-g a img{
  float: left;
}

/* 2° Box Izquierdo */

.box-log-g .cont-milinea{
  padding:5px 7px;
}

.box-log-g .cont-milinea p{
  margin-bottom:2px;
}

.box-log-g .cont-milinea a{
  color:#0FACC8;
  text-decoration:underline;
  float: left;
  margin-bottom:10px;
}

.box-log-g .cont-milinea hr{
  margin-top:10px;
  border-bottom:1px solid #D7D7D7;
  width:100%;
  clear: both;

}

.box-log-g .cont-milinea a:hover{
  text-decoration:none;
}

.box-log-g .cont-milinea p.title-milinea{
  display: block;
  width:160px;
  float: left;
}

.cont-milinea div{
  min-height:15px;
}


/* 3° Box Izquierdo */

.box-log-g .cont-mifact{
  padding:5px 7px;
}

.box-log-g .cont-mifact p{
  margin:10px 0;
}

.box-log-g .cont-mifact hr{
  margin-top:10px;
  border-bottom:1px solid #D7D7D7;
  clear: both;
}

.box-log-g .cont-mifact input{
  margin-top:3px;
}

.box-log-g .cont-mifact p.title-milinea{
  display: block;
  width:175px;
  float: left;
}


/* 1° Box Derecho */

.box-log-t ul, .box-log-g ul{
  padding:3px 7px;
  margin-bottom:30px;
}

.box-log-t ul li, .box-log-g ul li{
  background-image: url(../images/bulletBotonera3.gif);
  list-style: none;
  float: left;
  margin: 0px 15px 5px 0px;
  background-repeat: no-repeat;
  padding-left: 12px;
  background-position-y:5px;
}

.box-log-t ul li a:hover, .box-log-g ul li a:hover{
  text-decoration:underline;
}


/* 2° Box Derecho */

.consumo-num, .consumo-num span{
  font-family: PlatformRegular, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

.consumo-text, .consumo-text span{
  text-align:center;
}

.consumo-bar{
  border: 1px solid #D7D7D7;
  background-color: #EEE;
  height: 13px;
  width: 300px;
  margin: 10px auto;
}

.consumo-bar .consumido-bar{
  background-color: #10B5D3;
  height: 13px;
}

.min-libres, .min-libres span{
  text-align:center;
}


/* Estilos Generales Crear Usuario */


div.line-form input.crear-user{
  float: right;
}


/* Estilos Generales Información (Error) */

.page-info{
  margin-top:10px;
  text-align:center;
  width:100%;
  float: left;
}

.page-info input{
  margin-top:10px;
}


/* Estilos Generales Asignar Cuenta */

.cuit-sie{
  padding:10px 0 20px 0;
  font-weight:bold !important;
}

.cuit-sie label{
  margin-left:5px !important;
}

.cuit-sie input.bot-input{
  margin-right:80px;
  margin-top:1px;
}


/* Estilos Generales Login Alternativo */

.rec-user{
  margin-bottom:20px;
}

.line-form-l p.recuperar{
	margin-top: 3px;
  margin-left:160px;
  }


/* Estilos Generales Distribucion Uniforme */

input.distribuir{
  float: right;
}

input.cons{
  float: right;
  margin-right:32px;
}


/* Estilos Generales Detalle Consumo */

.box-detalleconsumo{
  margin-bottom:30px;
}


/* Estilos Generales Recuperar Usuario Mensaje */

p.text-recusuario{
  float:left;
}

span.nombre-usuario{
  color: #10B5D3;
  font-weight: bold;
  float: left;
  margin-left: 5px;
}


/* Estilos Generales Histórico Distribución de Línea */

p.linea-dist{
  color:#00639E;
  width:auto;
  float: left;
  font-weight:bold;
}

p.linea-dist span{
  color: black;
  font-weight:bold;
  padding-left:5px;
}

p.titular-dist{
  color:#00639E;
  width:auto;
  float: left;
  font-weight:bold;
  padding-left:30px;
}

p.titular-dist span{
  color: black;
  font-weight:bold;
  padding-left:5px;
}

/* Estilos Generales Histórico Distribución Bolsa */

span.fecha-dist-bolsa, a.link-medio{
  font-weight:bold;
  line-height:2.1;
}

span.fecha-dist-bolsa
{
	float:left;
}

/* Estilos Generales Modificar Distribución Bolsa */

.msj-mod-dist{
  float: right !important;
}

/* Estilos Generales Detalle de Consumos On-Line */

.form-online{
  margin-bottom:20px;
}

.fecha-online{
  width:60px;
  margin-right:3px;
}

.calendar{
  float: left;
  cursor: pointer;
}

.label-online-uno{
  width:80px !important;
}

.label-online-dos{
  width:80px !important;
  margin-left:50px;
}

input.bot-online{
  margin-left:70px;
}

.consumos-totales{
  width:136px;
  float: left;
  border-right:1px solid #999;
}

p.title-online{
  display: block;
  width:136px;
  float: left;
  font-weight:bold;
  text-align:center;
  margin-bottom:10px;
  background-color:#eee;
  padding:3px 0;
}

.label-online{
  min-width:30px !important;
  margin-left:10px;
}

.right-online{
  border:none;
}


/* Estilos Generales Localización */

.alerts-loc{
  margin-top:10px;
}


/* Estilos Generales Servicios Roaming */

.servicios-roaming{
  margin-bottom:20px;
  float: none;
  width:100%;
}

.servicios-roaming label
{
	line-height:3 !important;
}

.servicios-roaming p{
  height:22px;
  line-height:2.2;
  margin-bottom:10px;
}

.servicios-roaming span{
  padding-left:30px;
  background-repeat:no-repeat;
  line-height:3;
  margin-bottom:10px;
}


.roaming-nohabilitado{
	background-image: url('../images/imagenes/info_linea/noDisponible.gif');
	background-repeat:no-repeat;
	background-position:0 5px;
	height:30px;
	display:inline-block;
	color:Red;
}

.roaming-habilitado{
	background-image: url('../images/imagenes/info_linea/Disponible.gif');
	background-repeat:no-repeat;
	background-position:0 5px;
	height:30px;
	display:inline-block;
	color:Green;
}

.text-roaming{
  line-height:2.2;
}

.line-roaming{
  margin-bottom:20px;
}


/* Estilos Generales Info de Linea > Servicios Activos */

.lista-comparable{
  float: left;
  margin:10px 0 40px 0;
  width: 100%;
}

.lista-comparable ul, .lista-comparable ul li ul{
  list-style: none;
}

.lista-comparable ul li.first-comparable{
  display: inline-block;
  width: 50%;
  float: left;
}

.lista-comparable ul li ul li label.titulo-lista-comp{
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  background-color: #10B5D3;
  color:#fff;
  margin-bottom: 10px;
  padding:5px 0;
  text-align: center;
  border-left: 1px solid #fff;
}

.lista-comparable ul li ul div span{
  display: block;
  margin-top:5px;
  padding:0 10px;
}

.lista-comparable ul li ul div span a
{ 
  color : #10B5D3;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.lista-comparable ul li ul div span a:hover{
  text-decoration:underline;
}

	

li.first-comparable ul div td a{
  background-image: url('../images/bullet.png');
  background-repeat: no-repeat;
  background-position-y:4px;
  background-position-x:10px;
  padding:0 10px 0 30px; 
  display: block;
  margin-top:5px; 
  -webkit-transition:all .2s;  /* Chrome y Safari */
  -o-transition:all .2s;  /* Opera */
  -moz-transition:all .2s;  /* Mozilla Firefox */
  -ms-transition:all .2s;   /* Internet Explorer */
  transition:all .2s;  /* W3C */
}

li.first-comparable ul div td a:hover{
  background-image: url('../images/bullethover.png');
  background-repeat: no-repeat;
  background-position-y:4px;
  background-position-x:13px;
  text-decoration: none;
}



/* Estilos Generales Info de Linea > Estado de Cuenta */

p.info-consumos
{
	display:block;
	float:left;
	margin-left:5px;
	line-height:2.1;
}

.input-consumos
{
	display:block;
	float:left;
}

/* Distribucion Factura */
.distribucion-linea
{
	float: left;
	margin-bottom: 20px;
	width:100%;
}

.distribucion-linea ul
{
	list-style: none;
	width:400px;
	margin:0 auto;
}

.distribucion-linea ul li
{
	display: inline-block;
	float: left;
	width: 93px;
	height: 215px;
	margin: 0 5px;
}

.distribucion-linea ul li p
{
	margin-top: 15px;
	text-align: center;
}


.distribucion-linea ul li.separador-dist
{
	width: 16px;
	height: 16px;
	background-color: #999;
	margin-top: 50px;
}

.distribucion-linea ul li.sin-estrella
{
	background-image: url('../images/imagenes/sinestrella.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}

.distribucion-linea ul li.con-estrella
{
	background-image: url('../images/imagenes/conestrella.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}

.distribucion-linea ul li.con-estrellas
{
	background-image: url('../images/imagenes/conestrellas.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}


.distribucion-linea-info
{
	float:left;
	margin-top: 20px;
	width: 450px;
}


.distribucion-linea-info ul
{
	list-style: none;
}

.distribucion-linea-info ul li
{
	background-image: url('../images/botones/bullet.png');
	background-repeat: no-repeat;
	background-position-y: 3px;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 10px;
}

/* Estilos Generales Recarga Crédito */

.s-mes
{
	margin-right:13px;
}

.s-anio
{
	width:70px;
	float:left;
}


/* Estilos Generales Stop Personal */

div.stop-cont
{
	width:275px;
	float:left;
	margin-top:20px;
}

span.stop-label label
{
	font-size:14px;
	font-weight:700;
	padding-left:12px;
}

p.p-stop
{
	font-weight:700;
	font-size:11px;
	padding-left:30px;
}

.form-stop
{
	margin-top:50px;
	margin-left:40px;
}

.form-stop .small-i
{
	float:right;
	margin-right:120px;
}

.stop-ayuda
{
	float:right;
	margin-right:80px;
}

.radio-stop
{
	font-weight:700;
}

.label-right-stop
{
	display:inline-block;
	margin: 0 0 0 30px;
}

.stop-right
{
	margin-top:10px;
}

.stop-right label
{
	line-height:2;
}
	



/* Estilos Generales Formularios */

.descargar
{
	background-image:url('../images/icon_pdf.png');
	background-repeat:no-repeat;
	display:inline-block;
	line-height:2.1;
	padding-left:28px;
}

.pdf-name
{
	margin-left:30px;
}

.subtitle-margin
{
	margin-top:20px;
}

/*Medidor consumo*/
.grafico-consumo
{
    margin:10px 20px; 
    width:auto;  
    padding:5px 10px; 
    overflow:hidden;

}
.grafico-consumo-inf
{
    background:url(../images/trafico/bg.png) no-repeat bottom right;
    
}.bg-gray-soft
{
    background:#F2F2F2;
    }
.titulo-grafico-consumo
{
    font-size:16px;
    color:#666;
    display:inline;    
}

/*17-09-2012*/
.medidor-grafico-content
{
    width:430px;
    margin:0 auto;
}

 
#indicadorMb /*Tabla Medidor de consumo*/
{
    width:430px;
    margin:10px auto;
}

#indicadorMb td 
{
    padding-right:3px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-right-style:solid;
    border-bottom-style:solid;
    border-right-color:#959595;
    border-bottom-color:#959595;
    text-align:right;
 }
 
.medidor-graficoGris 
{
    background-image:url(../images/trafico/barraGris.jpg);
    background-repeat:no-repeat;
    height:35px;
    margin:10px auto;
}
.medidor-graficoAzul
{
    background-image:url(../images/trafico/barraAzul.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    height:35px;
}


#tablaMedidorTrafico
{
    width:100%;
 }
 
#tablaMedidorTrafico th
{    
    color:#fff;
    font-weight:bold;
    border-top-width:4px;
    border-top-style:solid;
    border-top-color:#1079B5;
    padding:5px;
 }
 
#tablaMedidorTrafico td
{
    vertical-align:middle;
    text-align:center;
    padding:6px;
 }

#tablaMedidorTrafico tfoot
{
    background-color:#f2f2f2;
}

.boton-cent
{
	margin:0 50%;
}
.wrapper-btactualizar
{
    width:100px;
    float:right !important;
}

/*SVC Localizacion*/
.num-linea-rigth
{
	float:right;
	overflow:hidden;
	width:230px;
}
.num-linea-fields
{
	float:left;
	width:100%;
	margin-bottom:10px;
}
.localizacion-block
{
	width:275px;
	float:left;
	overflow:hidden;
}
.localizacion-captcha
{
	width:250px;
	float:left;
}
	

/**desplegable**/
.ul.ui-autocomplete
{
    position: absolute; 
    background:#FFF;  
                             
}        
.ui-state-hover, .ui-autocomplete li:hover
{ 
    color:#FFF;
    background:#3399FF;
    outline:none;
}
.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 150px;
	_width: 160px;
	padding: 4px 0;
	margin: 0;
	list-style: none;
	background-color: #ffffff;
	border: solid 1px #999;
 
.ui-menu-item > a.ui-corner-all {
display: block;
padding: 3px 15px;
clear: both;
font-weight: normal;
line-height: 18px;
color: #555555;
white-space:normal;
 
&.ui-state-hover, &.ui-state-active {
color: #ffffff;
text-decoration: none;
background-color: #0088cc;
}
}

}

.banner-home
{
	height: 60px ; width: 480; margin: 30px 0px 0px 120px;
	}

/*Seguimiento consultas*/
.accordion-cyan
{
    padding:5px 10px;    
    display:block;
    }
.btn-cyan
{
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s; 
    -moz-transition: background-color 0.5s; 
    background-color:#10B5D3;
    color:#FFF;
    cursor:pointer;
    }
.btn-cyan:hover
{
    background-color:#009ab1;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s; 
    -moz-transition: background-color 0.5s; 
    }

input.search-1
{
    width:17px;
    background:#10B5D3 url(../images/ico-search.png) no-repeat 1px 1px;  
    position:relative;
    left:-4px;
    top:0;
    text-indent:20px;
    text-transform:capitalize;
}

.accordion-cyan span
{
    margin:auto;
    width:100px;
    display:block;
    padding-right:15px;
    color:#FFF;
    background:url(../images/ico-arrow-down-white.png) no-repeat right 4px;
    }
    
.form-row
{
    width:100%;
    }
.form-row div
{
    display:inline-block;
    float:left;
    }
.col-percent-50
{
    width:47%;
    margin-right:3%;
    float:left;    
    }
.ie7 .col-percent-50
{
    margin-right:1%;
 
    }
.col-percent-50 select
{
    width:100%;
    }
.col-percent-50 label
{
    display:inline-block;
    margin-right:5px;
    }
    
.sie-form h4
{
    margin:0 0 8px 0;
    font-size:11px;
    }
    
.filter-tab
{
    width:130px;
    float:left;
    }
.filter-tab h5
{
    background:#c2c2c2;
    color:#FFF;
    font-family:Tahoma, Sans-Serif;
    font-size:11px;
    padding:9px 0 9px 8px ;
    }
.filter-tab input
{
	 
	 width:100%;
	 cursor:pointer;
	 border:none !important;
	 background:transparent;
}

.consulta-tab
{
    margin:5px 0;
    position:relative;
    padding:2px;
    }
    
.consulta-tab span
{
    position:absolute;
    top:2px;
    right:8px;
    color:#FFF;
    cursor:pointer;
    }
.consulta-tab span.tab-1
{
    color:#4a4a4a;
    }
    
.consulta-tab-1
{
	 border:1px solid;
    
    }

.consulta-tab-2
{
    background:#007c85; 
    }

.consulta-tab-1 span.img, .consulta-tab-2 span.img, .consulta-tab-3 span.img{
    height: 12px;
    width: 12px;
    position: absolute;
    left: 5px;
    top: 3px;
    
}

.consulta-tab-1 span.img{
    background: url(../images/ico-consulta-todas.png) no-repeat -1px 0;  
      
}


.consulta-tab-2 span.img, .consulta-tab-3 span.img
{
    background: url(../images/ico-consulta-estado.png) no-repeat 0 0;  
}

.consulta-tab-2 input, .consulta-tab-3 input
{
    color:#FFF;
    }
.consulta-tab-3
{
    background:#888; 
}
    
.td-hide
{
    text-indent:-99999px;
    width:0px;
}  

.ImageField-GridReclamos
{
    margin:0 8px;
    }


/*Calendar*/

.custom-calendar .ajax__calendar_container
{
    background-color: #FFF;
    border: solid 1px #999;
    z-index: 200;
    margin-top: -1px;
    padding: 0;
    overflow: hidden;
}
.custom-calendar .ajax__calendar_title
{
    border-bottom: solid 1px #999;
    height: 20px;
    margin-bottom: 2px;
    padding-top: 4px;
}
.custom-calendar .ajax__calendar_prev, .custom-calendar .ajax__calendar_next
{
    height: 24px;
    width: 20px;
    background-color: #FFF;
}

.ie7 .custom-calendar .ajax__calendar_prev, .ie7 .custom-calendar .ajax__calendar_next
{
    border-bottom: solid 1px #999;
}

.custom-calendar .ajax__calendar_prev
{
    border-right: solid 1px #999;
}

.custom-calendar .ajax__calendar_next
{
    border-left: solid 1px #999;
}
.custom-calendar .ajax__calendar_today
{
    background-color: #0057A8;
    height: 20px;
    display: none;
}
.custom-calendar .ajax__calendar_days table thead tr td /*td días*/
{
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
}
.custom-calendar .ajax__calendar_day
{
    text-align: center;
}
.custom-calendar .ajax__calendar_other .ajax__calendar_day
{
}
.custom-calendar .ajax__calendar_hover
{
    background-color: #d8d8d8;
}

.ajax__calendar_months, .ajax__calendar_years, .ajax__calendar_days
{
    margin-top: 4px !important;
}

.ie7 .ajax__calendar_months, .ie7 .ajax__calendar_years, .ie7 .ajax__calendar_days
{
    margin-top: 6px !important;
}
/* Sie Acc Menu */        
ul.sie-acc-menu 
{   
    width: 550px;
    padding: 10px 0;
    display: inline-block;
    list-style: none;
    }
ul.sie-acc-menu input, ul.sie-acc-menu img 
{   
    border:0;
    }    
ul.sie-acc-menu-lvl1
{
    border-bottom:1px solid #00b4c5;   
    }    
ul.sie-acc-menu-lvl2
{
    border-bottom:1px solid #ccc; 
    margin-left:47px;   
    }
ul.sie-acc-menu-lvl3
{
    border-bottom:1px solid #ccc;
    margin-left:74px;   
    } 
ul.sie-acc-menu-lvl4
{
    border-bottom:1px solid #ccc;
    margin-left:102px;   
    }                  
ul.sie-acc-menu li 
{   
    display: block;
    list-style: none;
    float:left;
    }
ul.sie-acc-menu-lvl1  li.sie-acc-menu-mod1 
{
    margin-left:5px;
    margin-top:-4px;
    }    
ul.sie-acc-menu-lvl1  li.sie-acc-menu-mod2 
{
    margin-left:10px;
    }
ul.sie-acc-menu-lvl1 li.sie-acc-menu-mod3 
{
    margin-left:15px;
    }
    

ul.sie-acc-menu-lvl2  li.sie-acc-menu-mod2 
{
    margin-left:16px;
    }
ul.sie-acc-menu-lvl2 li.sie-acc-menu-mod3 
{
    margin-left:15px;
    } 


ul.sie-acc-menu-lvl3  li.sie-acc-menu-mod2 
{
    margin-left:16px;
    }
ul.sie-acc-menu-lvl3 li.sie-acc-menu-mod3 
{
    margin-left:15px;
    }
    
     
ul.sie-acc-menu-lvl4  li.sie-acc-menu-mod2 
{
    margin-left:16px;
    }
ul.sie-acc-menu-lvl4 li.sie-acc-menu-mod3 
{
    margin-left:15px;
    } 
        
        
.sie-acc-menu-sublevelbox 
{   
    display:block;
}                                   
 

/* CSS VICTORIA INFOTAIMENT */

.subtitulo {
  font-weight: bold;
  margin: 15px 0;
  font-size: 12px;
}

.color-institucional {
  color: #00b4c5 !important;
}


a.color-institucional {
  text-decoration: none;
}

.margin-bottom {
  margin-bottom: 25px;
}

div.bg-caja {
  display: block;
  background: #f4efef;
  padding: 20px 0;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 25px;
}

.bg-caja .contenido-caja {
  display: block;
  margin: 0 auto;
  width: 380px;
}

.bg-caja .contenido-caja label {
  margin-right: 5px;
}

.bg-caja .contenido-caja p {
  line-height: 34px;
  margin-right: 20px;
}

.bg-caja .contenido-caja input[type='text'] {
	border: 1px solid #BCBCBC;
	height: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;  
	padding-left: 5px;
	color: #4a4a4a;
	outline: none;
}

.contenido-caja input[type='text']::-ms-clear {
   display: none;
}

.bg-caja .contenido-caja input[type='text']::-webkit-input-placeholder { 
	color: #BCBCBC; 
}

.bg-caja .contenido-caja input[type='text']:-moz-placeholder { 
	color: #BCBCBC; 
}

.bg-caja .contenido-caja input[type='text']::-moz-placeholder { 
	color: #BCBCBC; 
}

.bg-caja .contenido-caja input:-ms-input-placeholder{
	color: #BCBCBC;
}

.btn-institucional {
  background-color: #00b4c5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  color: #FFFFFF;
  padding: 8px 30px;
  font-size: 12px;
  cursor: pointer;
}

#txtBuscarLineaArea {
  width: 30px;
  margin-right: 10px;
}

#txtBuscarLinea {
  width: 85px;
  margin-right: 15px;
}

.msg-error {
  background: url(../images/ico-error.png) top left no-repeat;
  padding-left: 28px;
  color: #ce186a;
  min-height: 18px;
  line-height: 18px;
  margin: 20px 0;
  display: block;
}

.msg-exito {
  background: url(../images/ico-exito.png) top left no-repeat;
  padding-left: 28px;
  color: #00b4c5;
  min-height: 18px;
  line-height: 18px;
  margin: 20px 0;
  display: block;
}

.margin-msg-error {
  margin-left: 85px;
}

.border-error {
  border: 1px solid #cf186a !important;
}

.listas select {
  width: 175px;
  height: 25px;
  border: 1px solid #bcbcbc;. 
  -webkit-appearance: 1px solid #bcbcbc;  
  -moz-appearance: 1px solid #bcbcbc; 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  color: #4a4a4a;
  
}

.listas {
  width: 376px;
  margin: 0 auto;
  height: 45px;
  margin-bottom: 30px;
}

.listas p {
  color: #808080;
  margin-bottom: 5px;
}

.listas div {
  width: 175px;
  margin-bottom: 20px;
}

.margin-right {
  margin-right: 30px;
}

.encabezado, .encabezado-detalle {
  border-top: 1px solid #d1d1d1;
  border-bottom: 2px solid #818286;
  min-height: 55px;
  line-height: 55px;
  font-weight: bold;
}

.fila {
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #d1d1d1;
} 


.fila-detalle {
  min-height: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #d1d1d1;
  overflow: hidden;
}

.fila-buscar {
  border-top: 1px solid #d1d1d1;
  margin-top: 25px;
}

.encabezado div, .fila div {
  width: 50%;
  text-align: center;
  float: left;
}

.encabezado-detalle div, .fila-detalle div {
  float: left;
}

.encabezado-detalle .numero-corto, 
.fila-detalle .numero-corto

{
	width: 20%;
	text-align: center;
}

.encabezado-detalle .precio,
.fila-detalle .precio

 {
	width: 15%;
	text-align: center;
}


.encabezado-detalle .descripcion, 
.fila-detalle .descripcion {
	width: 45%;
	text-align: center;
}

.encabezado-detalle .cancelar, 
.fila-detalle .cancelar {
	width: 20%;
	text-align: center;
}




.bg-caja .linea {
  font-size: 14px;
  font-weight: bold;
  padding-left: 25px;
}

.cancelar a {
  background: url(../images/cruz-cancelar.png) top left no-repeat;
  background-position-y: 3px;
  color: #d91868;
  text-decoration: none;
  height: 9px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.titulo-secundario {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
}

.lista-enlaces .color-institucional {
  position: relative;
  display: block;
}

.ico-flecha { 
  background: url(../images/arrow-right.jpg) top left no-repeat;
     width: 28px;
     height: 14px;
     position: absolute;
     top: 0;
  }

.lista-enlaces .color-institucional { 
    margin-bottom: 15px;
  }

.flecha-derecha {
    background: url(../images/arrow-right.jpg) top left no-repeat;
    width: 28px;
    height: 14px;
  }

  .buscar-servicios {
  	padding-top: 50px;
  }

.buscar-servicios input[type="text"] {
  border: 1px solid #BCBCBC;
  height: 25px;
  width: 245px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
  padding-left: 5px;
  margin-right: 10px;
  }

.botones-cancelar {
  display: block;
  width: 10%;
}

.botones-cancelar input[type="submit"] {
  border: 1px solid #CBCBCB;
  height: 20px;
  width: 23px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  padding: 0;
  font-size: 10px;
}

.botones-cancelar .btnSi {
	  background-color: #FFF;
	}

.botones-cancelar .btnNo {
	background-color: #DDD;
}

.fila-seleccionada {
  background: #E0E0E0;
}

.fila-seleccionada .descripcion {
	width: 35%;
	display: table;
}

.fila-seleccionada .msg-error, 
.fila-seleccionada .msg-exito {
  display: table;
  margin: 0 auto;
}

.fila-seleccionada .confirmacion-cancelar {
  display: block;
  float: left;
  font-size: 11px;
  width: 35%;
}

.fila-seleccionada .numero-corto,
.fila-seleccionada .descripcion,
.fila-seleccionada .confirmacion-cancelar {
	height: 18px;
	padding-top: 2px;
}

.fila td {
  text-align: center;
}


.fila-paginacion table {
  float: right;
}

.fila-paginacion td {
  padding: 8px 5px;
}

.fila-paginacion td a {
  color: #d1d1d1;
}


.tabla-linea table#grdLineas  {
	float: left;
}

#tooltips {
  position: absolute;
  color: #4a4a4a;
  border-radius: 3px;
  padding: 10px;
  margin-top: -10px;
  margin-left: 10px;
  z-index: 3;
  display: none;
  -moz-box-shadow: 1px 1px 0px #bfbfbf;
  box-shadow: 1px 1px 0px #bfbfbf;
  background: #f2f2f2;
}

.arrow {
  position: relative;
  left: -20px;
  display: block;
  top: 5px;
  background: url("../images/ttip-arrow.png") no-repeat top left;
  width: 25px;
  height: 25px;
}
.top-infoteiment {
  margin-top: -20px;
}


/* informar un pago */

.inf-pag-hover {
    text-decoration: none;
}
.inf-pag-hover:hover{
     text-decoration: underline;
 }
.col-12{
    width: 100%;
    margin-top: 35px;
    margin-bottom: 95px;
}
.col-3 {
    float: left;
}
.col-2 {
    width: 50%;
    float: left;
}
.boton-buscar {
    margin-left: 15px;
    text-align: right;
    float: left;
    width: 100px;
}
.txt-bold{
    font-weight: bold;
}
.padding-left-40 {
    padding-left: 40px;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.padding-right-40 {
    padding-right: 40px;
}

.padding-top-20 {
    padding-top: 20px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-10 {
     padding-bottom: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-10{
    margin-top: 10px;
}

.boton-right{
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-2-content{
    margin-left: 85px;
}

.text-col {
    width: 180px;
    padding-bottom: 27px;
}

.text-align-center {
    text-align: center;
}
.td-padding{
    padding-top: 15px;
}
.botones-panel{
    padding-top: 20px;
    width: 335px;
    margin: 0 auto;
}
.botones-panel input{
    margin-right: 20px;
}

.box-alert{
    color: #fff;
    font-size: 12px;
    background-color: #d9196e;
    min-width: 466px;
    margin-top: 15px;
    padding: 30px 40px;
    max-height: 100px;
    border: 1px solid #645E5E;
}

.error-2{
    color: #fff;
    font-size: 12px;
    float: left;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    background-position: 5px 120px;
    min-width: 510px;
    text-align: center;
    margin-bottom: 25px;

}
 .error-3{
     color: #fff;
     font-size: 12px;
     float: left;
     background-image: url(../images/error.png);
     background-repeat: no-repeat;
     background-position: 50px;
     min-width: 510px;
     text-align: center;
     margin-bottom: 25px;

 }

.error-4{
    color: #fff;
    font-size: 12px;
    float: left;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    background-position: 25px;
    min-width: 510px;
    text-align: center;
    margin-bottom: 25px;

}

.bt-grey-back {
    height: 23px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    color: #666;
    font-weight: bold;
    padding: 2px 7px;
    background-image: url(../images/btn_gris_bckg.jpg);
    background-repeat: repeat-x;
    cursor: pointer;
    margin: 0;
    min-width: 55px;
}

 .info2 {
     font-size: 12px;
     float: left;
     background-color: #e7e7e7;
     border: 2px solid #10b5d3;
     padding: 20px 40px;
     min-width: 466px;
 }

 .info2 h4 {
     font-family: Tahoma, Geneva, sans-serif;
     color: #00417D;
     background-image: url(../images/info.png);
     background-repeat: no-repeat;
     background-position: 35px;
     min-width: 466px;
 }
 .msg-exito-1{
     background: url(../images/ico-exito.png) top left no-repeat;
     padding-left: 28px;
     color: #00b4c5;
     min-height: 18px;
     line-height: 18px;
     margin: 20px 0;
     display: block;
     font-size: 16px;
     background-position: 100px;
 }
 
 /* Debito Automatico */ 
 
 .info3 {
     font-size: 14px;
     float: left;
     background-color: #bcbcbc;
     padding: 12px 40px;
     min-width: 466px;
     color : Black;
     display: inline-block;
 }
 
 .divDetalleDeb {
     font-size: 19px;
     height: 50px;
     width: 100%;     
     padding-top: 10px;
     display: inline-block;
     line-height: 60%;
     }
   .divDetalleDeb span
   {
       color : #395dc6 !important;
   }
   .divDataAccessDeb
   {
     height: 65px;
     width: 100%;  
     text-align: center;
    }   
    .divDataAccessDeb .DAdescription
    {
        text-align: left;
        float:left;
        margin-left:70%;
    }
    .wth-50PC
    {
        width : 50%;
    }
    
    .wth-30PC
    {
        width : 30%;
    }
    
    .wth-100PC
    {
        width : 100%;
    }
    
    .padding-top-10
    {
        padding-top : 10px;
    }
    .divinlineBlock
    {
        display : inline-block;
    }
    
    .align-right
    {
         float:right
    }
    
    .loading
    {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 50%;
        height: 50%;
        display: none;
        position: absolute;
        background-color: White;
        z-index: 999;
        position: absolute;
    }
    
     .divinlineBlock input
    {
        margin: 5px;
    }
     .msg-exito-2{
     background: url(../images/ico-exito.png) top left no-repeat;
     padding-left: 28px;
     color: #00b4c5;
     min-height: 18px;
     line-height: 18px;
     margin: 20px 0;
     display: block;
     font-size: 16px;
     background-position: 5px 120px;
 }
    

     /* Debito Automatico */ 
     
          /* Black List */
     
/* estilo buscar*/

.btn{

	display: inline-block;
    background-color: darkgrey;
<<<<<<< HEAD

=======
    padding: 12px;
>>>>>>> diseño


}

.btn input.buscar-bl{
    font-size: 13px;
    font-weight: bold;
    border:none;
    

}

.buscar-bl{
    margin: 1px!important;
    color: white;
    border:none;
    background-color:#0DADC5;
    border-top:1px solid #5DE0F4!important;
    border-bottom: 1px solid #026A73!important;
    padding: 4px 10px;

}



.buscar-bl:hover{
    background-color:#029293;
	border-top: 1px solid #00b4b5!important;
	border-bottom:1px solid #00b4b5!important;
}

.buscar-bl:active{
color: darkgrey;
}

/*boton volver*/
.btn input.volver-bl{
    font-size: 13px;
    font-weight: bold; 
    border-top:1px solid #f1f1f1 ;
    border-bottom: 1px solid #d6d6d6 ;
    border-left:none;
    border-right:none;

}

.volver-bl{
    margin: 1px!important;
    color: black;
    background-color:lightgrey;
    padding: 4px 10px;

}




/*estilos para botones no puede -si puede*/


.blacklist{
    color: white;
    border:none;
    background-color: #0DADC5;
    border-top: 1px solid #5DE0F4 !important;
    /*border-bottom: 1px solid #026A73 !important;*/
    padding: 4px 10px 4px 22px;
   /* margin-left: 0px !important;*/

}


.btn input.blacklist{
    font-size: 12px;
    font-weight: bold;  
}

.btn input.no-puede{
    background-image: url(img/no-puede-white.png);
    background-repeat: no-repeat;
    background-position: 2px center;
    margin:1px;
    border: none
}

.btn input.puede{
    background-image: url(img/puede-white.png);
    background-repeat: no-repeat;
    background-position: 2px center;
    margin:1px;
    border: none
}



.blacklist:hover{
    background-color:#029293;
	border-top: 1px solid #00b4b5;
	border-bottom:1px solid #00b4b5;
}

.blacklist:active{
color: darkgrey;
}



.label-bl{
    font-family:Platform, Helvetica, sans-serif;
	font-weight:normal!important;
    font-size: 14px;
}

.select-cuenta-mail.select-bl select {
    margin-right: 153px;
    font-size: 12px;
    color: darkgrey;
    border: 1px solid #5b5b5b;
    height: 23px;
}

.select-cuenta-mail.select-bl input {
    font-size: 12px;
    padding-left: 3px;
    height: 23px;
    border: 1px solid #5b5b5b;
}

/* boton eliminar - confirmar */

.eliminar-bl{
    font-family: platformregular;
    width: 19px;
    height: 18px;
    border-radius: 23px;
    color: white;
    font-size: 15px;
    border: none;
    padding-bottom: 2px;
    background-color: #d9186b;
    display: inline-block;
}

.eliminar-bl:link{
    text-decoration:none;
}

.eliminar-bl:visited{
    
}

.eliminar-bl:hover{

    background-color: #f53a8a;
    
}

.eliminar-bl:active{

    background-color: #99114b;
}

.botones-bl{

    }
/* Black List */